.list-group-item {
  border: none;
  padding: 15px 2px;
}

.col {
  padding: 0;
}

.pokemon-list .btn {
  min-width: 150px;
  height: 150px;
  background-image: url('../assets/pokeball.png');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.modal-body p {
  text-transform: capitalize;
}

.hide {
  display: none;
}
